{% extends 'base.html' %}
{% load static %}

{% block title %} Download {% endblock title %}

{% block content %}
    <div class="download-container">
        <!-- <h1>You are about to embark on the Greatest Journey of your life </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellendus provident nihil eligendi. Consequuntur quo quia quaerat consequatur quis laudantium facere odit, atque provident eos praesentium. Ratione, possimus non consequuntur eveniet temporibus aliquam reiciendis in ab quas aperiam laborum quae! Id velit fuga, maiores voluptate laudantium deserunt esse illo doloremque dolores molestiae sit doloribus, eaque corrupti cum. Repudiandae, voluptates libero? Consequuntur laudantium eligendi adipisci maiores quibusdam id nihil impedit molestiae nisi ut nemo consectetur, quaerat fugiat sint, doloremque perferendis cum itaque nam sequi temporibus quisquam similique? Iure quia, a sed quas qui, ab, placeat expedita eveniet fugiat doloremque iusto eos!</p> -->
    </div>

{% endblock content %}