{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
    <!-- <div class="home-header">
        <h1> Home </h1>
    </div> -->
    <div class="home-welcome">
        <h1>
            <span class="glitch" data-text="Turn Back While You Can">
                Adventures Awaits You
            </span>
        </h1>
    </div>

{% endblock content %}

<!-- <img src="/static/img/welcome-newbs-nintendo.png" alt="Welcome Newbs Nintendo"> -->
        <!-- <p>Welcome NEWBS</p> -->