.home-welcome {
    background-color: #e4000f;
    display: flex;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 25px;
}
.home-welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}